@import "../fonts/stylesheet.css";

* {
  margin: 0;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

h2 {
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Proxima Nova Lt', Verdana, Tahoma, sans-serif;
}

p {
  font-family: 'Proxima Nova Rg', Verdana, Tahoma, sans-serif;
}

th {
  font-family: 'Proxima Nova Lt', Verdana, Tahoma, sans-serif;
}

td {
  font-family: 'Proxima Nova Lt', Verdana, Tahoma, sans-serif;
}

a {
  font-family: 'Proxima Nova Lt', Verdana, Tahoma, sans-serif;;
}

/* Начало стилей для главной шапки */

.backgraund {
  background: url(../image/banner.jpg) no-repeat center top / cover;
  padding-bottom: 225px;
}

.headerLogo {
  padding-top: 50px;
}

.headerLogo a img {
  padding-right: 10px;
  position: relative;
  bottom: 5px;
}

.headerLogo a {
  font-family: 'Proxima Nova Rg', Verdana, Tahoma, sans-serif;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}

.headerText {
  padding-top: 206px;
}

.headerText h2 {
  font-family: 'Proxima Nova Lt', Verdana, Tahoma, sans-serif;;
  font-weight: normal;
  color: #f6f9fa;
  font-size: 48px;
}

.headerText p {
  color: #f6f9fa;
  font-size: 17px;
}

.headerText:after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #f6f9fa;
  position: absolute;
  bottom: 5px;
}

.buttonProject {
  margin-top: 40px;
  color: #f6f9fa;
  border: 2px solid #f6f9fa;
  border-radius: 0;
  padding: 10px 46px;
  text-transform: uppercase;
}

.buttonProject:hover {
  color: #000000;
  background-color: #f6f9fa;
  border-color: transparent;
}

.buttonProject:focus {
  box-shadow: 0 0 0 #f6f9fa;
}

.buttonProject:disabled {
  color: #f6f9fa;
}

/* Конец стилей для главной шапки */

/* Начало стилей для аккордиона */

.services {
  background-color: #f6f6f6;
  padding-bottom: 500px;
}

.servicesTex {
  padding-top: 289px;
  position: relative;
}

.servicesTex h2 {
  font-size: 46px;
  color: #333333;
  position: relative;
  text-transform: uppercase;
}

.servicesTex h2:after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #333333;
  position: absolute;
  margin-top: 30px;
}

.accordionText {
  padding-top: 83px;
  font-size: 18px;
  color: #888888;
  position: absolute;
}

.collapseContent {
  position: relative;
}

.panelButton {
  border: none;
  width: 180px;
  height: 180px;
  transform: rotate(45deg);
  position: absolute;
  background-color: #ffffff;
  font-size: 14px;
  color: #474747;
  text-transform: uppercase;
}

.panelButton p {
  font-family: 'Proxima Nova Lt', Verdana, Tahoma, sans-serif;
  font-weight: 600;
  padding-top: 10px;
}

.panelButton:hover {
  border: 1px solid #28282e;
}

.panelButton:focus {
  border: 1px solid #28282e;
  background-color: #28282e;
  color: #ffffff;
  outline: none;
}

.btnBorder {
  border: none;
}

.rotateText {
  transform: rotate(-45deg);
}

.buttonPosition1 {
  top: 590px;
  left: -5px;
  overflow: hidden;
}

.buttonPosition2 {
  top: 455px;
  left: 130px;
  overflow: hidden;
}

.buttonPosition3 {
  top: 321px;
  left: 265px;
  overflow: hidden;
}

.buttonPosition4 {
  top: 590px;
  left: 265px;
  overflow: hidden;
}

.buttonPosition5 {
  top: 455px;
  left: 400px;
  overflow: hidden;
}

.buttonPosition6 {
  top: 321px;
  left: 534px;
  overflow: hidden;
}

.buttonPosition7 {
  top: 455px;
  left: 669px;
  overflow: hidden;
}

.buttonPosition8 {
  top: 321px;
  left: 804px;
  overflow: hidden;
}

/* Конец стилей для акоордиона */

/* Стили для визитки */

.ourWorks {
  padding-top: 122px;
  padding-bottom: 151px;
}

.ourWorks h2 {
  font-size: 46px;
  color: #333333;
  text-transform: uppercase;
}

.ourWorks p {
  font-size: 18px;
  color: #888888;
}

/* Конец стилей для визитки */

/* Начало стилей для Project Title */

.projectTitle {
  background-color: #28282e;
}

.projectContent {
  padding: 270px 0;
}

.projectContent .buttonProject {
  margin-top: 70px;
}

.projectContent h2 {
  font-size: 46px;
  color: #ffffff;
  text-transform: uppercase;
}

.projectContent h2:after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #ffffff;
  position: absolute;
  margin-top: 30px;
}

.projectText {
  font-size: 18px;
  color: #ffffff;
  padding-top: 85px;
}

.projectPictures {
  text-align: center;
}

.projectIcon {
  padding-top: 50px;
  text-align: center;
}

.mobIcon {
  background: url(../image/mob.png) no-repeat;
  padding-bottom: 26px;
  padding-right: 50px;
}

.mobIcon:focus {
  background: url(../image/mobActive.png) no-repeat;
  padding-bottom: 26px;
  padding-right: 50px;
}

.tabIcon {
  background: url(../image/tab.png) no-repeat;
  padding-bottom: 26px;
  padding-right: 60px;
}

.tabIcon:focus {
  background: url(../image/tabActive.png) no-repeat;
  padding-bottom: 26px;
  padding-right: 60px;
}

.macIcon {
  background: url(../image/mac.png) no-repeat;
  padding-bottom: 26px;
  padding-right: 55px;
}

.macIcon:focus {
  background: url(../image/macActive.png) no-repeat;
  padding-bottom: 26px;
  padding-right: 55px;
}

.projectIcon a {
  padding-left: 20px;
  text-decoration: none;
  left: 60px;
  position: relative;
}

.swithes a {
  width: 2px;
  height: 25px;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  opacity: 0.5;
}

.swithes a:focus {
  opacity: 1;
}

.swithes a:nth-child(1) {
  bottom: 240px;
}

.swithes a:nth-child(2) {
  bottom: 205px
}

.swithes a:nth-child(3) {
  bottom: 170px;
}

.swithes a:nth-child(4) {
  bottom: 135px;
}


.сoming h2 {
  color: #f6f9fa;
  font-size: 53px;
  position: relative;
  bottom: 153px;
}

.сoming h2:after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #f6f9fa;
  position: absolute;
  margin-top: 15px;
}

.focusIcon {
  background-image: url();
}

/* Конец стилей Project Title */

/* Начало стилей для таблицы */

.readOurMinds {
  padding-top: 115px;
}

.readOurMinds h2 {
  font-size: 46px;
  color: #333333;
  text-transform: uppercase;
}

.readOurMinds h2:after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #333333;
  position: absolute;
  margin-top: 15px;
}

.readOurMinds p {
  font-size: 18px;
  color: #888888;
}

.tableRead {
  margin-top: 110px;
}

.tableRead tr {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.tableRead td {
  border: none;
  padding-top: 40px;
}

.tableRead th {
  border: none;
  text-transform: uppercase;
  color: #999999;
  font-weight: normal;
}

.tableRead h3 {
  font-size: 18px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.tableRead p {
  font-size: 16px;
  color: #888888;
}

thead tr th:nth-child(2) {
  padding-right: 230px;
}

thead tr th:nth-child(3) {
  padding-right: 89px;
}

.forest {
  background: url(../image/Forest.jpg) no-repeat center center / cover;
}

.forest td {
  color: #ffffff;
}

.forestText h3 {
  color: #ffffff;
}

.forestText p {
  color: #ffffff;
}

.article {
  text-align: center;
  margin: 39px 0;
}

.article a {
  font-family: 'Merriweather', Verdana, Tahoma, sans-serif;
  color: #ef443a;
}

/* Конец стилей для таблицы */

/* Начало стилей для второго аккордиона */

.servicesTex a {
  font-family: 'Merriweather', Verdana, Tahoma, sans-serif;
  text-decoration: none;
  position: relative;
  top: 9px;
  left: 45px;
  color: #ef443a;
}

.servicesTex a:hover {
  text-decoration: underline;
}

.panelButtonTeam {
  border: none;
  width: 180px;
  height: 180px;
  transform: rotate(45deg);
  position: absolute;
  background-color: #ffffff;
  font-size: 14px;
  color: #474747;
  text-transform: uppercase;
}

.imageSize {
  width: 100%;
  position: absolute;
  top: -10px;
  left: -27px;
}

.imageSize:hover:after {
  content: "";
  width: 252px;
  height: 130px;
  background-color: red;
  position: absolute;
  top: 130px;
  left: 8px;
  opacity: 0.5;
}

.imageSize:hover:before {
  content: "Charlie\00a0waite UI\00a0 Desinger";
  position: absolute;
  top: 133px;
  left: 93px;
  color: #ffffff;
  z-index: 1;
  font-size: 15px;
  text-transform: capitalize;
  font-family: 'Proxima Nova Rg', Verdana, Tahoma, sans-serif;
}

/* Коенец стилей для второго аккордиона */

/* Начало стилей для карусели */

.slideshow {
  background-color: #28282e;
  padding-bottom: 200px;
}

.slideshowHeder h2 {
  font-family: 'Merriweather', Verdana, Tahoma, sans-serif;
  font-weight: normal;
  text-align: center;
  color: #f6f6f6;
  padding-top: 140px;
  text-transform: capitalize;
  font-size: 39px;
}

.slideshowSecondText p {
  text-align: center;
  color: #f6f6f6;
  padding-top: 60px;
  font-size: 18px;
}

.carouselTop {
  margin-top: 60px;
}

.carouselSizes {
  width: 963px;
  height: 456px;
}

.carouselIndicators {
  bottom: -90px;
}

.carouselIndicators li {
  width: 11px;
  height: 11px;
  background-color: #1e1e20;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 100%;
  margin-right: 40px;
}

.carouselIndicators .active {
  background-color: #ffffff;
}

/* Конец стилей для карусели */

/* Начало стилей для футера */

.redBackgraund {
  background-color: #ef4035;
}

.letsTalkText {
  padding: 55px 0;
  text-align: center;
}

.letsTalkText a {
  font-family: 'Merriweather', Verdana, Tahoma, sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.letsTalkText a:hover {
  text-decoration: underline;
}

.darckBackgraund {
  background-color: #28282e;
}

.footerText {
  padding: 70px;
  color: #76767b;
  font-size: 13px;
}

@media (max-width: 1520px) {
  .accordionText {
    font-size: 16px;
  }

  .panelButton {
    width: 135px;
    height: 135px;
    font-size: 10px;
  }

  .buttonPosition1 {
    top: 590px;
    left: -45px;
  }

  .buttonPosition2 {
    top: 486px;
    left: 60px;
  }

  .buttonPosition3 {
    top: 382px;
    left: 164px;
  }

  .buttonPosition4 {
    top: 590px;
    left: 165px;
  }

  .buttonPosition5 {
    top: 486px;
    left: 270px;
  }

  .buttonPosition6 {
    top: 382px;
    left: 376px;
  }

  .buttonPosition7 {
    top: 486px;
    left: 483px;
  }

  .buttonPosition8 {
    top: 382px;
    left: 589px;
  }

  .panelButtonTeam {
    width: 135px;
    height: 135px;
    font-size: 10px;
  }

  .imageSize:hover:after {
    width: 190px;
    height: 100px;
    top: 114px;
    left: 33px;
  }

  .imageSize:hover:before {
    top: 117px;
    left: 93px;
    z-index: 1;
    font-size: 12px;
  }
}